.Table
{
	border         : 1px solid black;
	border-collapse: collapse;
	width          : 100%;
	background     : rgba(40,40,40,0.6);

	tr
	{
		border         : 1px solid black;
		border-collapse: collapse;
		width          : 100%;
	};
	th
	{
		text-align: left;
		width     : 100%;
		background: rgba(38,38,38,0.6);
	};
	td
	{
		text-align: center;
	};
};
