$window-width         : var(--window-width        , 300px    );  
$window-height        : var(--window-height       , 300px    ); 
$window-left          : var(--window-left         , 100px    );   
$window-top           : var(--window-top          , 100px    );    
$window-border-color  : var(--window-border-color , #5e5e5e);
$window-border-width  : var(--window-border-width , 1px      );
$window-z-index       : var(--window-z-index      , 0        );
$window-header-height : var(--window-header-height, 0px      );


.Container
{
    border  : $window-border-color solid $window-border-width;
    width   : $window-width;
    height  : $window-height;
    left    : $window-left;
    top     : $window-top;
    z-index : $window-z-index;

    position       : fixed;
    box-sizing     : border-box;
    cursor         : default;
 
    &.Left         { cursor : w-resize;  };   
    &.Right        { cursor : e-resize;  };    
    &.Top          { cursor : n-resize;  };  
    &.Bottom       { cursor : s-resize;  };     
    &.Left_Top     { cursor : nw-resize; };       
    &.Right_Top    { cursor : ne-resize; };        
    &.Left_Bottom  { cursor : sw-resize; };          
    &.Right_Bottom { cursor : se-resize; };       
    &.Cross        { cursor : move;      };

    &.WithHeader { border-top: none; };

    & > .Header
    {
        height     : $window-header-height;
        background : $window-border-color;

        width : 100%;
    };

    & > .Body
    {
        width  : 100%;
        height : calc(100% - $window-header-height); 
    };
};
