$window-width         : var(--window-width        , 300px    );  
$window-height        : var(--window-height       , 300px    ); 
$window-left          : var(--window-left         , 100px    );   
$window-top           : var(--window-top          , 100px    );    
$window-border-color  : var(--window-border-color , #444444);
$window-border-width  : var(--window-border-width , 3px      );
$window-z-index       : var(--window-z-index      , 0        );
$window-header-height : var(--window-header-height, 0px      );


.Container
{
    width   : $window-width;
    height  : $window-height;
    left    : $window-left;
    top     : $window-top;
    z-index : $window-z-index;

    position       : fixed;
    cursor         : default;
 
    &.Left         { cursor : w-resize;  };   
    &.Right        { cursor : e-resize;  };    
    &.Top          { cursor : n-resize;  };  
    &.Bottom       { cursor : s-resize;  };     
    &.Left_Top     { cursor : nw-resize; };       
    &.Right_Top    { cursor : ne-resize; };        
    &.Left_Bottom  { cursor : sw-resize; };          
    &.Right_Bottom { cursor : se-resize; };       
    &.Cross        { cursor : move;      };

    & > .Header
    {
        height     : $window-header-height;
        background : $window-border-color;

        width : 100%;
    };

    & > .Body
    {
        border : $window-border-color solid $window-border-width;
        height : calc(100% - $window-header-height); 

        &.WithHeader { border-top: none; };

        box-sizing : border-box;
        width      : 100%;
    };
};
