.Container
{
    position : relative;
    width    : 100%;
    height   : 100%;

    & > .Rasterizer
    {
        width    : 100%;
        height   : 100%;
    
        &.MouseDown { cursor : move; };
    };
    
    & > .Overlay
    {
        position   : absolute;
        width      : 100%;
        height     : 100%;
        top        : 0; 
        left       : 0;
        background : rgba(0, 0, 0, 0.3);
    };
};
