.canvasContainer
{
	position: relative;
	width: 100%;
	height: inherit;
	border: red solid 2px; 
};

.ReadFileButton
{
	position: absolute;
	right: 20px;
	top: 20px;
};

.EventTarget
{
	position: absolute;
	left: 20px;
	bottom: 20px;
	font-size: 30px;
	color: red;
};

.CameraTable
{
	position: absolute;
	right: 20px;
	bottom: 20px;
};
